
body{
    background-color: grey;
   height:500px;
   margin:auto auto;
}
h1{
    text-align:center;

}
h1,p{
    text-indent:2em;
}
.container{
    margin:50px auto;

    width:800px;
    background-color:orange;
    border:10px solid blue;
}
img{
    margin:0 auto;
    display:block;
    width:200px;
    height:200px;
}
